/* Edição de kits - Home */
.container>a{
    text-decoration: none;
    color: white;
}

.kit-card>p{
    margin: 0;
}

.kit-card{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    border: 2px solid #00aac0;
    border-radius: 10px;
}

.range-guide>p{
    margin: 0;
    color: #a1a1a1;
}

.range-guide{
    width: 30%;
    display: flex;
    align-items: center;
}

.kit-area{
    width: 55%;
}

/* Edição de kits - Form */
.tabs-div{
    height: 606px;
    width: fit-content;
    overflow-y: auto;
}

.tab-vertical .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 0px;
    border-bottom: 0;
}

.tab-vertical .nav.nav-tabs .nav-item {
    border-bottom: 2px solid #373b3e;
}

.nav-tabs .nav-link {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tab-vertical .nav-tabs .nav-link {
    display: grid;
    background: #fff;
    padding: 17px 49px;
    color: #373b3e;
    background-color: #161a1e;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.tab-vertical .nav-tabs .nav-link.active {
    color: #00aac0;
    background-color: #212529 !important;
    border-left: 2px solid #00aac0 !important;
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
}

.tab-vertical .tab-content {
    overflow: auto;
    background: #212529;
    padding: 30px;
    height: 606px;
}

.tabs-div::-webkit-scrollbar {
    width: 2px;
}

.tabs-div::-webkit-scrollbar-track {
    background: #212529;
}

.tabs-div::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    /* border-radius: 4px; */
}

.tab-content::-webkit-scrollbar {
    width: 2px;
}

.tab-content::-webkit-scrollbar-track {
    background: #212529;
}

.tab-content::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    /* border-radius: 4px; */
}

.tab-content{
    width: 78%;
}

.tab-pane-placeholder{
    display: grid;
    align-content: center;
    height: 100%;
}

.tab-pane-placeholder>p{
    margin: auto;
    width: fit-content;
    color: #a1a1a1;
    font-size: 1.4rem;
}

.kit-row{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.btn-add, .btn-subtract{
    background-color: #00aac0;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn-add{
    border-radius: 0px 10px 10px 0px;
}

.btn-subtract{
    border-radius: 10px 0px 0px 10px;
}

.qntd-field{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0px;
}

.un-select{
    width: fit-content;
    margin-left: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0px 5px;
}

.desc-field{
    margin-left: 10px;
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0px 5px;
}

.manufacturer-field{
    margin-left: 10px;
    width: 14%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0px 5px;
}